* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Layout Panels */
/* ========================================================  */
.page {
  margin: 10px;
}

.page-header-panel {
  border-bottom: solid 1px blue;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.page-header-panel div {
  padding: 5px;
}

.page-content-panel {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.page-footer-panel {
  border-top: solid 1px blue;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 20px;
}

/* Page Header Panel */
/* ========================================================  */

.logo-panel {
  border-right: solid 1px blue;
  background-image: url(./images/no-img-comment-avatar.png);
  background-repeat: no-repeat;
  width: 15%;
  display: flex;
  justify-content: right;
}

.navigation-panel {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}

.notifications-panel {
  border-left: solid 1px blue;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications-counter-badge {
  width: 20px;
  height: 20px;
  display: flex;
}

.account-info-panel {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Page Content Panel */
/* ========================================================  */
.left-content-panel {
  border-right: solid 1px blue;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.sticky-notes-panel {
  height: 50%;
}

.todo-list-panel {
  height: 50%;
}

.main-content-panel {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.activity-panel {
  width: 30%;
}

.journal-entry {
  border: dashed 0.5px;
  border-radius: 5px;
  height: 70px;
  padding: 10px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
}

.journal-entry-avatar {
  width: 45px;
  height: 45px;
}

/* Page Footer Panel */
/* ========================================================  */
.channel-links-panel {
  display: flex;
  justify-content: right;
}

.built-with-panel ul {
  list-style: lower-greek;
}